* {
    margin: 0;
    padding: 0;
    font-family: NanumSquare;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

h1, h2, h3, h4, h5, h6, p {
    color: rgb(50, 50, 50);
}

.headLogo {
	width : 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;    
}

body {
    position: relative;
    background-color: rgb(250, 250, 250);
}

table {
    border-collapse: collapse;
}

/* header & section & ham_navi */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 10px rgb(250, 250, 250);
    z-index: 100;
}

.container {
	width : 100%;
    margin: 0 auto;
}

.main_photo_wrap{
	top: ;
	margin-left: 10px;
	margin-top: 15px;
	width: 800px;
	overflow: hidden;
	
}

.main_wrap{
	position: absolute;
	top: 0px;
	left:300px;
    min-height: 900px;
    margin-top: 60px;
    padding-left: 30px;
}
.main_photo > img {
	overflow: hidden;
	width: 800px;
	height: 300px;
	align-items: inherit;
}


.section_title{
	margin-top: 50px;
	padding-bottom : 10px;
	border-bottom-color: rgb(180,180,180);
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
}


.section_photo_wrap{
	top: 30px;
	margin-top: 15px;
	margin-bottom : 30px;
	width: 800px;
	overflow: hidden;
}

.section_photo{
	overflow: hidden;
	width: 800px;
	height: 400px;
	align-items: inherit;
}

.section_text_wrap{
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom : 40px;
	border-bottom-color: rgb(180,180,180);
	border-bottom-style: solid;
	border-bottom-width: 0.5px;
	border-top-color: rgb(180,180,180);
	border-top-style: solid;
	border-top-width: 0.5px;
	margin-bottom: 150px;
	padding-left: 25px;
}

@keyframes spark {
    0% { 
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 141, 35);
    }
    100% {
        transform: scale(1);
        background-color: rgb(235, 22, 22);
    }
}

@media screen and (max-width: 768px) {
	
    .big_menu {
        height: 40px;
        line-height: 40px;
    }
    
    .big_menu>a {
        font-size: 14px;
        font-weight: 400;
    }
    
    .big_menu>p {
        font-size: 14px;
        font-weight: 400;
    }

    .sub_menu_wrap>div {
        height: 35px;
    }

    .menu_contents_wrap {
        padding-top: 6px;
    }

    .menu_icon_wrap {
        width: 15px;
        height: 15px;
    }

    .menu_name {
        font-size: 14px;
    }

    ._section_title {
        width: calc(100% - 10px) !important;
        margin-left: 10px;
    }

    ._section_title p {
        font-size: 18px !important;
    }
}


/* header & section & ham_navi */

/* font */

@font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareL.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareL.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareL.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFLight.svg#017f9c78318bcde3d1dc4451e8eaca0a') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  300;
  }
  
  @font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareR.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareR.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareR.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  400;
  }
  
  @font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareB.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareB.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareB.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  700;
  }
  
  @font-face {
    font-family: 'Nanum Square';
    src: url('fonts/NanumSquareEB.eot'); /* IE9 Compat Modes */
    src: url('fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NanumSquareEB.woff') format('woff'), /* Modern Browsers */
         url('fonts/NanumSquareEB.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87') format('svg'); /* Legacy iOS */
         
    font-style:   normal;
    font-weight:  900;
  }
  
  
/*scrollbar_hide*/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    width: 5px;
    height: 5px;
    background: url() rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
}
  